.accordionjs {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 7%;
    margin-bottom: 20px;
}

.accordionjs .acc_section {
    /* border: 1px solid #ccc; */
    position: relative;
    z-index: 10;
    margin-top: -1px;
    margin-bottom: 6%;
    overflow: hidden;
}

.accordionjs .acc_section .acc_head h5 {
    color: #606165;
    letter-spacing: 5px;
    font-size: 26px;
    transition: 0.4s;
    font-weight: bold;
    font-family: BeVietnam, sans-serif;
    text-transform: uppercase;
}

.accordionjs .acc_section .acc_head h5:hover {
    color: #b7a92c !important;
    transform: scale(1.02);
}

.accordionjs .acc_content p {
    font-family: 'BeVietnam';
    font-weight: 100;
    color: #201F1E;
    padding-bottom: 2%;
    margin-top: -2%;
    text-align: left;
    letter-spacing: 2px;
}

.accordionjs .acc_section .acc_head {
    position: relative;
    /* background: #fff; */
    padding: 3px;
    display: block;
    cursor: pointer;
}

.accordionjs .acc_section .acc_head h3 {
    line-height: 1;
    margin: 5px 0;
}

.accordionjs .acc_section .acc_content {
    /* padding: 10px; */
    padding-left: 2px;
    margin-top: -2%;
}

.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.accordionjs .acc_section.acc_active > .acc_content {
    display: block;
}

.accordionjs .acc_section.acc_active > .acc_head h5 {
    /* background: #F9F9F9; */
    color: #000;
    /* border-bottom: 1px solid #ccc; */
}

@media (max-width: 1190px) {
    .accordionjs .acc_section .acc_head h5 {
        font-size: 22px;
    }

    .accordionjs .acc_content p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .accordionjs .acc_section .acc_head h5 {
        text-align: center;
    }

    .accordionjs .acc_content p {
        text-align: center;
    }
}

.panel .header {
    transition: 1s;
    cursor: pointer;
    color: #606165;
    letter-spacing: 5px;
    font-size: 26px;
    transition: 0.4s;
    font-weight: bold;
    font-family: BeVietnam, sans-serif;
    text-transform: uppercase;
}

.panel .header:hover {
    transition: 1s;
    color: #b7a92c !important;
    transform: scale(1.02);
}

.panel {
    margin-bottom: 6%;
}

.panel .body {
    transition: 1s;
    font-family: 'BeVietnam';
    font-weight: 100;
    color: #201F1E;
    font-size: 20px;
    padding-bottom: 2%;
    margin-top: -2%;
    text-align: left;
    letter-spacing: 2px;
}

#accordion .active .body {
    display: block;
}

#accordion {
    margin-top: 7%;
}

#accordion .body {
    display: none;
    padding-top: 15px;
    padding-left: 2px;
}

.active .header {
    transition: 1s;
    color: #000;
}

.img_part img {
    transition: 1s;
}










